.Post {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 25% 0 25%;
  border: solid;
  border-color: rgb(212, 197, 247);
  margin-bottom: 30px;
  word-wrap: break-word;
  background-color: rgb(240, 234, 253);
}
h1 {
  font-size: 17px;
  display: block;
  margin: 7px 0 0 5px;
}
span {
  margin: 2px 7px 0 7px;
}
.likes {
  text-align: right;
  margin: 0 5px 0;
  font-size: 20px;
}
.heart {
  width: 15px;
  height: 15px;
  padding-right: 3px;
 
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  font-size: 20px;
}
