.bgr {
  background: grey;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 999;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  background: white;
  z-index: 999;
  margin: 30% 25% 30% 25%;
  text-align: center;
}
.butt {
  margin: 10px;
  width: 50px;
}
.close {
  display: none;
}
